body{
    background-color: bisque;
}

.heading{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.container{
    display: grid;
    height: 500px;
    width: 500px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
}

.btns{
    display: flex;
    flex: auto;
    margin-left: 500px;
    margin-right: 500px;
    justify-content: space-around;
}

.btns-items{
    width: 150px;        
    height: 50px;        
    padding: 10px 20px;  
    font-size: 18px;     
}
